body{ background: $grey;}

.textField{border:1px solid $black}


@keyframes fadeIn {
  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 1;
  animation: fadeIn .5s ease-in 0 forwards;
}

.is-paused {
  animation-play-state: paused;
}